.popup__auth-label {
  align-self: center;
  margin: 40px 0 0 0;
  width: 244px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
