.popup__button_name_auth {
  color: #000;
  background-color: #fff;
  margin: 173px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .popup__button_name_auth {
    margin: 216px 0 0 0;
  }
}
